投稿一覧ページ

<% @posts.each do |posts| %>
<div>
  <p>ユーザーネーム：<%= posts.user.name %></p>
  <p>ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <%= image_tag posts.get_image %> <!--投稿した商品の画像-->
  <p>商品名：<%= posts.product_name %></p>
  <p>味：<%= posts.tast %></p>
  <p>価格：<%= posts.price %></p>
  <p>内容量：<%= posts.net %></p>
  <p>1杯あたりの量：<%= posts.serving_size %></p>
  <p>カロリー(1杯あたり)：<%= posts.calorie %></p>
  <p>タンパク質量(1杯あたり)：<%= posts.protein%></p>
  <p>説明：<%= posts.description %></p>
</div>
<% end %>