<div>投稿一覧ページ</div>
<%= form_tag posts_all_path, method: :get, class: 'boards__searchForm' do %>
  <%= select_tag :tag_id,
                 options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                 {
                   prompt: 'タグで絞り込み検索',
                   onchange: 'submit(this.form);'
                 }
  %>
<% end %>
<% @posts.each do |posts| %>
<div>
  <p>ユーザーネーム：<%= link_to posts.user.name, user_mypage_path(posts.user.id) %></p>
  <%= link_to post_path(posts.id) do %>
  <%= image_tag posts.get_image, width: "100×100" %><!--投稿した商品の画像-->
  <% end %>
  <p>商品名：<%= link_to posts.product_name, post_path(posts.id) %></p>
  <p>タイプ：<%= posts.tag.name %></p>
  <p>味：<%= posts.tast %></p>
  <p>価格：<%= posts.price %></p>
  <p>内容量：<%= posts.net %></p>
  <p>1杯あたりの量：<%= posts.serving_size %></p>
  <p>カロリー(1杯あたり)：<%= posts.calorie %></p>
  <p>タンパク質量(1杯あたり)：<%= posts.protein%></p>
  <p>説明：<%= posts.description %></p>
  <p><%= link_to "#{posts.comments.count} コメント", post_path(posts.id) %></p>
</div>
<% end %>

