<div class="container">
  <%= render "flash_message" %>
  <div class="col-md p-3">
    <h2>投稿一覧ページ</h2>
    <%= form_tag posts_all_path, method: :get, class: "boards__searchForm" do %>
    <%= select_tag :tag_id,
                   options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                   {
                     prompt: '全てのレビュー',
                     onchange: 'submit(this.form);'
                   }
      %>
    <% end %>
    <%= search_form_for @q, url: posts_all_path, method: :get, class: "search-form" do |f| %>
    <ul class="navbar-nav ml-auto">
      <li class="search-nav-content">
        <%= f.number_field :price_gteq, class: "input-price", placeholder: "¥0~" %>
        <%= f.number_field :price_lt, class: "input-price", placeholder: "¥~15,000" %>
        <p class="btn btn-sm pt-3"><%= f.submit '検索する' %></p>
      </li>
    </ul>
    <% end %>
  </div>
  <%= render "public/posts/form2" %>
</div>