<div class="container">
  <div class="p-3">
    <h2>管理者トップページ</h2>
    <div class="d-flex flex-wrap p-3">
      <% @posts.each do |posts| %>
      <div class="card col-3 h-100 text-center">
        <%= link_to admin_post_path(posts.id) do %>
        <%= image_tag posts.get_image, size: "200x200" %><!--投稿した商品の画像-->
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to posts.product_name, admin_post_path(posts.id) %></h5>
          <p class="card-text"><strong>タイプ</strong>：<%= posts.tag.name %></p>
          <p class="car-text"><strong>味</strong>：<%= posts.tast %></p>
          <p class="car-text"><strong>タンパク質量</strong>：<%= posts.protein %>g</p>
          <p class="car-text"><%= link_to posts.user.name, admin_user_path(posts.user.id) %></p>
          <p class="card-text"><%= link_to "#{posts.comments.count} コメント", admin_post_path(posts.id) %></p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="m-2">
      <%= paginate @posts %>
    </div>
  </div>
</div>


