<div class="container">
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="text-center pb-5">
        <div class = "pt-5">
          <h2 class="mb-3">ユーザー編集ページ</h2>
          <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
          <table class="table table-borderless">
            <tr>
              <th>プロフィール画像</th>
              <th><%= f.file_field :profile_image, accept: "image/*" %></th>
            </tr>
            <tr>
              <th>名前</th>
              <th><%= f.text_field :name, size: "40" %></th>
            </tr>
            <tr>
              <th>自己紹介</th>
              <th><%= f.text_area :introduction, size: "40" %></th>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <th><%= f.text_field :email, size: "40" %></th>
            </tr>
            <tr>
              <th>運動頻度</th>
              <th><%= f.select :work_out, ['ほぼ毎日', '週に3〜4', '週に2回', '週に1回', '月に1〜2', 'ほとんどしない'], class: 'work_out' %></th>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <td>
                <%= form_with model: @user, url:admin_user_path, method: :patch do |f| %>
                    <%= f.radio_button :is_deleted, false %>
                    <%= f.label :is_deleted, '有効', class: "mr-2" %>
                    <%= f.radio_button :is_deleted, true %>
                    <%= f.label :is_deleted, '退会' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.submit "編集内容を保存", class: "btn btn-success" %>
              </td>
              <td></td>
            </tr>
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>