<!-- ユーザーの詳細 -->user show
<div class="container">
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image %>
  <%= @user.introduction %>
  <%= @user.work_out %>
  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", user_information_path(@user.id) %></p>
  <% end %>
</div>


<!-- ユーザーの投稿一覧 -->
<% @posts.each do |posts| %>
<div>
  <%= link_to post_path(posts.id) do %>
    <%= image_tag posts.get_image, width: "100×100" %>
  <% end %>
  <p>商品名：<%= link_to posts.product_name, post_path(posts.id) %></p>
  <p>味：<%= posts.tast %></p>
  <p>価格：<%= posts.price %></p>
  <p>内容量：<%= posts.net %></p>
  <p>1杯あたりの量：<%= posts.serving_size %></p>
  <p>カロリー(1杯あたり)：<%= posts.calorie %></p>
  <p>タンパク質量(1杯あたり)：<%= posts.protein%></p>
  <p>説明：<%= posts.description %></p>
</div>
<% end %>