<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
   <div class="container">
    <%= link_to root_path, style:"width:70px;height:70px" do %>
    <%= image_tag 'ProteinLogo.png', width: '100%', height: '100%' %>
    <% end %>
    <button class="navbar-toggler rounded float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
     <% if admin_signed_in? %>
     <li>
       <%= link_to 'トップ', admin_root_path, class: 'nav-link text-white' %>
     </li>

     <li>
       <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-white' %>
     </li>

     <li>
       <%= link_to 'タグ一覧', admin_tags_path, class: 'nav-link text-white' %>
     </li>

     <li>
       <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
     </li>
    <% elsif user_signed_in? %>
     <li>
      <%= link_to 'トップ', root_path, class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to '投稿一覧', posts_all_path, class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to 'マイページ', user_mypage_path(current_user), class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to '新規投稿', new_post_path, class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
     </li>
    <% else %>
     <li>
      <%= link_to 'トップ', root_path, class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to 'このサイトについて', about_path, class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
     </li>
     <li>
      <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
     </li>

     <li>
       <%=  link_to users_guest_sign_in_path, class: 'nav-link text-warning', method: :posts do %>
       <i class="fas fa-user-tie fa"></i> ゲストログイン
       <% end %>
     </li>
    <% end %>
   </ul>
   </div>
  </div>
 </nav>
</header>